
.paper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    min-height: 100px;
    min-width: 600px;
}

.logo {
    width: 150px;
    margin: auto;
}