.paper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    min-height: var(--tk-dlite-semantic-spacing-900);
}

.logo {
    width: 150px;
    margin: auto;
}

@media (min-width: var(--tk-dlite-semantic-breakpoint-sm)) {
.card {
        min-width: 600px;
    }
}