.dragging {
  font-size: 16px;
  color: rgb(61,127,252);
  transform: scale(.99);
}
.input {
  width: 50%;
  background: var(--color-input-bg);
  border-radius: var(--border-radius-m);
  height: var(--input-height);
  border: 1px solid var(--color-border);
  padding: var(--spacer-xs);
}

.input:focus-visible {
  border: 1px solid var(--color-puente-blue);
}

.select {
  width: 25%;
    padding: var(--spacer-xs);
}

.blocksSidebar {
  position: sticky;
  top: var(--spacer-m);
  max-height: calc(100vh - var(--spacer-xl));
  overflow-y: auto;
}