NEXT_PUBLIC_parseAppId=your_parse_app_id
NEXT_PUBLIC_parseJavascriptKey=your_parse_javascript_key
NEXT_PUBLIC_parseServerUrl=http://localhost:1337/parse
NEXT_PUBLIC_parseMasterKey=your_parse_master_key

NEXT_PUBLIC_taskyUrlApi=https://your-tasky-instance.herokuapp.com/
NEXT_PUBLIC_AWS_LAMBDA_URL=https://your-api-id.execute-api.us-east-1.amazonaws.com/default/s3-json-to-client
NEXT_PUBLIC_PUENTE_SMS_EMAIL_API_URL=http://your-sms-email-service-url
NEXT_PUBLIC_PUENTE_DATA_EXPORTER_API_URL=http://your-data-exporter-url/
NEXT_PUBLIC_PUENTE_ANALYTICS_DASHBOARD_URL=http://your-analytics-dashboard-url/
NEXT_PUBLIC_PUENTE_REST_ETL_URL=http://your-rest-etl-url/

NEXT_PUBLIC_awsApiGatewayHost=your-api-id.execute-api.us-east-1.amazonaws.com
NEXT_PUBLIC_awsApiGatewayPath=/dev/lambda
NEXT_PUBLIC_s3Bucket=your-s3-bucket-name
NEXT_PUBLIC_awsAccessKeyId=your_aws_access_key_id
NEXT_PUBLIC_awsSecretAccessKey=your_aws_secret_access_key

NEXT_PUBLIC_AWS_DATA_CSV_S3_URL=https://your-api-id.execute-api.us-east-1.amazonaws.com/prod/lambda
