NEXT_PUBLIC_parseAppId=your_parse_app_id
NEXT_PUBLIC_parseJavascriptKey=your_parse_javascript_key
NEXT_PUBLIC_parseServerUrl=http://localhost:1337/parse

NEXT_PUBLIC_taskyUrlApi=https://your-tasky-instance.herokuapp.com/
NEXT_PUBLIC_PUENTE_SMS_EMAIL_API_URL=http://your-sms-email-service-url
NEXT_PUBLIC_PUENTE_DATA_EXPORTER_API_URL=http://your-data-exporter-url/
NEXT_PUBLIC_PUENTE_ANALYTICS_DASHBOARD_URL=http://your-analytics-dashboard-url/
NEXT_PUBLIC_PUENTE_REST_ETL_URL=http://your-rest-etl-url/
