.paper {
    max-width: 640px;
    margin: var(--spacer-xxl) auto;
    padding: 0 var(--spacer-m);
}

.stack {
    padding-bottom: var(--spacer-l);
}

.errorText{
    color: var(--tk-dlite-semantic-color-feedback-danger);
    font-size: var(--font-size-small);
}