.impacto-card {
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-l);
    transition: color 0.15s ease, border-color 0.15s ease;
}


.ids-flex-space-between {
    display: flex;
    justify-content: space-between;
}