.paper {
    max-width: 640px;
    margin: var(--spacer-xxl) auto;
    padding: 0 var(--spacer-m);
}

.loadingState {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    width: 100%;
}

.loadingState svg {
    left: 0;
    top: 0;
}

.stack {
    padding-bottom: var(--spacer-l);
}

.errorText{
    color: var(--tk-dlite-semantic-color-feedback-danger);
    font-size: var(--font-size-small);
}