.block {
    box-sizing: border-box;
    border-radius: var(--tk-dlite-semantic-border-radius-md);
    background-color: var(--tk-dlite-primitive-color-white);
    border: 1px solid var(--tk-dlite-semantic-color-action-primary);
    box-shadow: var(--tk-dlite-semantic-elevation-medium);
    margin: var(--tk-dlite-semantic-spacing-300)
}

.dragHandle {
    cursor: grab;
    opacity: 0.4;
    padding: var(--tk-dlite-semantic-spacing-100);
    user-select: none;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        cursor: grabbing;
    }
}
