.autoselect-options {
  padding: var(--border-radius-m) var(--spacer-m);
  line-height: 1.5;
  width: auto;
  min-height: auto;
  font-size: var(--font-size-body);
  letter-spacing: 0.00938em;
  font-weight: var(--font-weight-regular);
  cursor: pointer;
}

.autoselect-options:hover {
  background-color: rgba(0, 0, 0, 0.14) !important;
}
