
.copy ~ div {
  transform: none !important;
}
.noDragging {
  font-size: 16px;
  letter-spacing: 0.29px;
  line-height: 40px;
  text-align: center;
  color: rgb(61,127,252);
  border-left-color: black;
  font-family: Verdana, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.noDragging:hover {
  font-size: 16px;
  letter-spacing: 0.29px;
  line-height: 40px;
  background-color:rgb(255,230,128);
}



.infoIcon:hover {
  color: white;
}
