.dashboard {
    display: flex;
    background-color: var(--color-bg-light);
}

.dashboard > * {
    margin: var(--spacer-s);
}

.dimensions {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-s);
}

.filters {

}

.content {
    height: 60vh;
    width: calc(100vw - 480px);
}

