.paper {
    position: absolute;
    width: min(90vw, 400px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-surface-base);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-m);
    box-shadow: var(--shadow-lv3);
    padding: var(--spacer-l);
}